<div class="login-box"; style="text-align:center;">
  <h2>Doctor</h2>
  <form>
    <a href="#"><button>
      Insert
    </button></a>
        <a href="#"><button>
      Delete
    </button></a>
        <a href="#"><button>
      Selection
    </button></a>
  </form>
</div><div class="login-box"; style="text-align:center;">
  <h2>Doctor</h2>
  <form>
    <a href="#"><button>
      Insert
    </button></a>
        <a href="#"><button>
      Delete
    </button></a>
        <a href="#"><button>
      Selection
    </button></a>
  </form>
</div>